/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--bg-color);
  background-attachment: fixed;
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--main-font-family);
  font-weight: bold;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  block-size: max(668px, 100vh);
  padding-block: var(--padding-block);
  padding-inline: var(--padding-inline);
  position: relative;
}

.header__logo {
  align-self: center;
  color: var(--header-logo-color);
  font-size: var(--header-logo-size);
  font-weight: 700;
  grid-column: 1 / 3;
  line-height: 0.825;
  margin-inline-start: -20px;
  margin-left: var(--header-margin-left);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__theme-menu {
  grid-column: 1 / 3;
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  justify-content: center;
}

.header__theme-menu-item {
  min-block-size: 26px;
  min-inline-size: 70px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  block-size: 26px;
  color: var(--nav-color);
  cursor: pointer;
  font-style: normal;
  min-inline-size: 70px;
  text-align: center;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: var(--nav-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  box-shadow: 0 1px 0 var(--accent-color);
}

.rec_empty {
  color: var(--nav-color);
  font-weight: normal;
  position: absolute;
  right: 48px;
  text-transform: uppercase;
  top: 20px;
}

.rec_empty::after {
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  content: "";
  height: 9px;
  left: 43px;
  position: absolute;
  top: 8px;
  width: 9px;
  border-radius: 50%;
}

.decorated-zone::after {
  border-right: var(--corner-thickness) solid var(--accent-color);
  border-top: var(--corner-thickness) solid var(--accent-color);
  content: "";
  height: 25px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 25px;
}

.decorated-zone::before {
  border-bottom: var(--corner-thickness) solid var(--accent-color);
  border-left: var(--corner-thickness) solid var(--accent-color);
  content: "";
  height: 25px;
  left: 20px;
  position: absolute;
  bottom: 20px;
  width: 25px;
}

.header__text {
  align-self: start;
  grid-column: 2 / 3;
  margin-block-start: 57px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--main-heading-color);
  font-weight: 700;
  line-height: 130%;
}

.content {
  padding-inline: var(--padding-inline);
}

.content__title {
  color: var(--nav-color);
  font-weight: 700;
  line-height: 130%;
  font-size: inherit;
}

.content__text {
  color: var(--main-text-color);
  font-size: inherit;
  font-weight: 400;
  margin-block-start: 10px;
}

.text__link {
  text-shadow: 2px 2px 0 var(--link-color);
}

.text__link:hover {
  border-bottom: 2px solid var(--main-text-color);
}

.text__link:focus {
  outline: none;
}

.text__link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.why {
  column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-block-start: var(--margin-top);
  row-gap: 20px;
}

.why .card {
  grid-column: 2 / 4;
}

.what {
  column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-block-start: var(--margin-top-big);
  row-gap: 20px;
}

.what__card_title {
  grid-column: 1 / 4;
  width: calc((100% - 40px) / 3);
}

.how {
  column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-block-start: var(--margin-top-big);
  row-gap: 20px;
}

.how__title {
  margin-block-end: 20px;
}

.how .card {
  grid-column: 2 / 4;
}

.how__card_subtitle {
  font-size: inherit;
  font-weight: 400;
}

.gallery {
  display: grid;
  gap: var(--picture-gap);
  grid-template-columns: repeat(3, 1fr);
  margin-block-start: var(--margin-top-big);
}

.gallery__title {
  align-self: start;
  grid-column: 1 / 4;
}

.gallery__picture {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.gallery .gallery__card:nth-child(2) {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.gallery .gallery__card:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}

.gallery .gallery__card:nth-child(4) {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
}

.gallery .gallery__card:nth-child(5) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.gallery .gallery__card:nth-child(6) {
  grid-column: 2 / 4;
  grid-row: 4 / 5;
}

.footer {
  align-items: center;
  block-size: max(668px, 100vh);
  display: flex;
  justify-content: center;
  margin-block-start: var(--margin-top);
  padding: 20px;
  position: relative;
}

.footer__title {
  font-family: inherit;
  font-size: var(--footer-logo-size);
  font-style: inherit;
  font-weight: 700;
  line-height: 82.5%;
  color: var(--footer-logo-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width < 1024px) {
  .header__theme-menu {
    align-self: end;
    grid-column: 2 / 3;
    margin-block-end: 57px;
  }

  .header__theme-menu-list {
    grid-template-columns: 1fr;
    justify-items: end;
  }

  .header__text {
    margin-block-start: 48px;
  }

  .why {
    grid-template-columns: 1fr 2fr;
  }

  .why .card {
    grid-column: 2 / 3;
  }

  .what {
    grid-template-columns: 1fr;
  }

  .what__card_title {
    grid-column: 1 / 2;
  }

  .how {
    grid-template-columns: 1fr 2fr;
  }

  .how .card {
    grid-column: 2 / 3;
  }
}

@media (width < 768px) {
  :root {
    --padding-inline: 10px;
    --padding-block: 10px;
    --margin-top: 40px;
    --margin-top-big: 50px;
    --picture-gap: 10px;
  }

  .header {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .header__theme-menu {
    grid-column: 1 / 2;
    margin-block-end: 52px;
  }

  .header__title {
    grid-column: 1 / 2;
    margin-inline-start: 0;
  }

  .header__text {
    grid-column: 1 / 2;
    margin-block-start: 43px;
  }

  .rec_emty {
    right: 38px;
    top: 10px;
  }

  .decorated-zone::after {
    right: 10px;
    top: 10px;
  }

  .decorated-zone::before {
    left: 10px;
    bottom: 10px;
  }

  .why {
    grid-template-columns: 1fr;
  }

  .why .card {
    grid-column: 1 / 2;
  }

  .how {
    grid-template-columns: 1fr;
  }

  .how .card {
    grid-column: 1 / 2;
  }

  .what__card_title {
    grid-column: 1 / 2;
    width: 100%;
  }

  .gallery {
    grid-template-columns: 1fr;
  }

  .gallery__title {
    grid-column: 1 / 2;
  }

  .gallery .gallery__card:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .gallery .gallery__card:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .gallery .gallery__card:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  .gallery .gallery__card:nth-child(5) {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }

  .gallery .gallery__card:nth-child(6) {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
  }

  .footer__title {
    font-size: 116px;
  }
}
